WinSysInfo.ReflectionHelper/App_Data/Models/FileParse/CommonElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CommonElements"
    targetNamespace="http://winsysinfo.reflectionhelper.fileparse/CommonElements.xsd"
    elementFormDefault="qualified"
    xmlns:comelem="http://winsysinfo.reflectionhelper.fileparse/CommonElements.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="Metadata">
    <xs:attribute name="description" type="xs:string" use="required" />
    <xs:attribute name="displayname" type="xs:string" use="optional" />
  </xs:complexType>
</xs:schema>
